.main-modal {
    top: 50%;
    left: 50%;
    background-color: red;
    position: absolute;
    display: none;
    max-width: 50vw;
    max-height: 80vh;

    .front-picture {
    }
  }

.modal-unhide {
    display: flex;
    flex-direction: column;
}